@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

*{
  box-sizing: border-box;
}
:root{
  --Primary: #f8f8f8;
  --Secondary: #f2f0ec;
  --Accent: #011429;
  --Default: #030303;
  --Background: #06060554;
  --NavSecondary: #ffffffe3;
  --NavBackgroundTwo: #ffffff84;
  --NavBackground: #ffffff00;
  --Inline: inline-end;
}
.app{
        font-family: "Poppins", sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
